*,
*::before,
*::after {
  box-sizing: border-box;
}

/*:root {
  --container-width: 74.375rem;
  --container-padding-x: 0.9375em;
  height: 100vh;
}*/

:root {
	--tailgrids-black-color: #212b36;
	--tailgrids-text-color: #637381;
	--tailgrids-color: #3056d3;
	--tailgrids-secondary-color: #13c296;
	--white: #fff;
	--stroke: #e7e7e7;
	--gray: #f4f7ff;
	--gray-2: #f8fafc;
}

body {
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  color: #637381;
  min-height: 100vh;
  padding: 135px;
  background-color: #fff;
  padding: 17px 135px 30px 135px;
  max-width: 1440px;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

