/* начало блока старого header */
/*
.main {
  max-width: 1170px;
}

.header {
  width: 1170px;
  display: flex;
  flex-direction: column;
}

.header__up {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.header__nav_list {
  display: flex;
  gap: 27px;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}

.header__right-block {
  display: flex;
  justify-content: end;
  gap: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}

.header__lenguich__name::after {
  content: url("../images/icons/down.svg");
  margin-left: 6px;
}

.header__lenguich_dropdown {
  position: relative;
}

.header__currency_name::after {
  content: url("../images/icons/down.svg");
  margin-left: 6px;
}

.nav__link-product::after {
  content: url("../images/icons/down.svg");
  margin-left: 4px;
}

.nav__link-menu {
   display: flex;
   gap: 8px;
}

.header__currency_list-link {
  text-decoration: none;
}

.header__lenguich_list {
  display: none;
  position: absolute;
  top: 25px;
  list-style-type: none;
  border: 1px solid #e7e7e7;
  border-radius: 1px;
  box-shadow: 2px 2px #e7e7e7;
}

.header__currency_list {
  display: none;
  position: absolute;
  list-style-type: none;
}

.header__lenguich_dropdown:hover .header__lenguich_list {
  display: block;
}

.header-main {
  display: flex;
  align-items: center;
}

.header-main__nav {
  margin-right: 85px;
}

.header-main_logo {
  margin-right: 90px;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  gap: 35px;
  list-style-type: none;
}



.header-main__group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.header-main__user-actions {
  display: flex;
  gap: 15px;
}

.header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: #F4F7FF;
  border: 1px solid #e7e7e7;
}

.header__main-block {
   display: flex;
   align-items: center;
   gap: 35px;
}

.main__contact {
   display: flex;
   
}

.contact__paragraph {
   font-weight: 500;
   font-size: 14px;
   line-height: 143%;
   width: 122px;
   text-align: start;
   color: var(--tailgrids-black-color);
}
*/
/* Конец блока старого header */


/* Начало верхнего блока header */

.header {
   display: flex;
   position: relative;
   flex-direction: column;
   
   
   font-weight: 500;
   font-size: 14px;
   line-height: 143%;
   color: var(--tailgrids-text-color);
}

.header__divider {
  margin: 0 auto; /* центрирует */
  width: 100vw; /* на всю ширину окна */
  border: none;
  height: 1px;
  background-color: #ddd;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  
}

/* Блок самого верхнего меню */

.header__utility-nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   max-width: 1170px;
   margin-bottom: 18px;
   
}


.header__nav-utility-list{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 27px;
   list-style-type: none;
   
}

.header__nav-utility-link {
  text-decoration: none;
}

/* Конец блока самого верхнего меню */

/* Блок выбора языка и валюты */

.header__dropdown {
   display: flex;
   justify-content: end;
   align-items: center;
   gap: 20px;
}

.header__language-name--nonstyle {
  all: unset;
}

/* Конец блок выбора языка и валюты */



/* Конец верхнего блока header */

/* Начало нижнего блока header */

.header__lower-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--tailgrids-black-color);
  max-width: 1170px;
  margin-top: 22px;
  margin-bottom: 18px;
}

/* Начало блока Лого */

.header_logo {
  margin-right: 90px;
}

/* Конец блока Лого */

/* Начало блока меню в нижнем header */

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  gap: 35px;
  margin-right: 80px;
}

.header__nav-link {
  text-decoration: none;
}

.header__currency-control {
  margin-left: 4px;
}

/* Конец блока меню в нижнем header */

/* Начало блока контактов и меню пользователя */

.header__contact-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 35px;
  font-size: 14px;
}

.header__cotact-phone {
  align-self: self-start;
  width: 122px;
  
}

.header__utility-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #F4F7FF;
  border: 1px solid #E7E7E7;
  border-radius: 50%;
  gap: 12px;
}

.header__user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

.header__user-actions-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #F4F7FF;
  border: 1px solid #E7E7E7;
  border-radius: 50%;
  
}


/* Конец блока контактов и меню пользователя */

/* Конец нижнего блока header */

/* Начало блока promo */

.promo {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.promo__main-item {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/3;
  background-image: url(../images/background-intro-chair.png);
  background-size: cover;
  background-position: center;
  height: 480px;
}

.promo__side-item {
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
  background-image: url(../images/background-intro-girl.png);
  background-size: cover;
  background-position: center;
  height: 225px;
}

.promo__additional-item {
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url(../images/background-intro-phone.png);
  background-size: cover;
  background-position: center;
  height: 225px;
}

.promo__image {
  position: absolute;
   top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* конец блока promo */